<div class="main-content">
  <div class="main-bible-content">
    <!-- preloaders -->
    <preloaders [condition]="this.isLoadingCatholicBible"></preloaders>
    <ng-container *ngIf="this.catholicBible">
      <mat-button-toggle-group class="mt-3" #group="matButtonToggleGroup">
        <mat-button-toggle value="old"> Old Testament </mat-button-toggle>
        <mat-button-toggle value="new"> New Testament </mat-button-toggle>
      </mat-button-toggle-group>

      <ng-container
        *ngIf="
          group.value === 'old' || !group.value;
          then thenTemplate;
          else elseTemplate
        "
      ></ng-container>
      <ng-template #thenTemplate>
        <old-testament [bible]="getTestament('old')"></old-testament>
      </ng-template>
      <ng-template #elseTemplate>
        <new-testament [bible]="getTestament('new')"></new-testament>
      </ng-template>
    </ng-container>
  </div>
   <div *ngIf="this.error" class="col-sm-11 m-auto">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title" style="white-space: pre-wrap">:( Error</h4>
          <p class="card-category">{{ this.error }}</p>
        </div>
        <div class="card-body col-sm-12 m-auto">
          <button class="btn btn-primary" (click)="this.fetchWholeBible()">
            Try Again
          </button>
        </div>
      </div>
    </div>
</div>
