.mat-single-reading-menu-wrapper {
  margin-top: -10px;
  position: relative;
}

mat-tab-group {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: -20px;
  @media screen and (min-width: 776px) {
    width: 90%;
  }
}
